{% extends "layout.twig" %}
{% block content %}
<div class="container-fluid" ng-controller='DashboardCtrl' ng-init='apiKey="{{apiKey}}"; expandAll=true;'>
		  <div ng-show="showInstallInstructions || (servers.length == 0 && loaded)" class='jumbotron'>
					 <h1>Install as root: </h1>
					 <p><input style='width:100%;' select-on-click value="curl -s {{ url('install-script', {'apiKey': apiKey}) }} | bash"></p>

					 <button ng-click="showInstallInstructions = false" class='btn btn-primary'>Close install instructions</button>
					 <a href='/install'>View Install Source</a>
		  </div>

		  <div ng-show="showAddSharedServerKey" class='jumbotron'>
					 <h1>Add shared server</h1>
					 <form role="form" action="/add-shared-server-key" method="POST">
								<p>
										  <input style='width:50%;' name='serverKey' ng-model='sharedKey' placeholder='Enter server key...'>
								</p>

								<input type='submit' class='btn btn-primary' value='Submit'>
								<div ng-click="showAddSharedServerKey=false; sharedKey=''" class='btn btn-default'>Cancel</div>
					 </form>
		  </div>

		  <h5>
					 Servers: {[{filteredServers.length}]} &bull; 
					 Sort By:
					 <div class="btn-group">
								<label class='btn btn-success btn-xs' ng-click="setSort(sort.value)" ng-repeat="sort in sortOptions" ng-model="sortBy" btn-radio="sort.value">
										  {[{ sort.display }]}
								</label>
					 </div>
					 <button ng-show="servers.length > 1" ng-click="expandAll = (!expandAll)" class='btn btn-default btn-xs'>Toggle Expansion</button>
					 <input ng-model='filter' type='search' placeholder='Filter...'>
					 <a href='{{ url('shared', {'apiKey': apiKey}) }}'>Full Screen (no login, ideal for TVs and big monitors for public access in an office for all people to keep an eye on, you know)</a>

					 <div class='btn-group pull-right'>
								<button ng-click="showInstallInstructions = (!showInstallInstructions)" class='btn btn-success btn-xs'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new server</button>
								<button ng-click="showAddSharedServerKey = (!showAddSharedServerKey)" class='btn btn-primary btn-xs'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add server key</button>
					 </div>
		  </h5>

		  <div ng-hide='loaded' class="alert alert-info" role="alert">Loading server fires...</div>

		  <alert ng-repeat="alert in alerts" type="{[{alert.type}]}" close="closeAlert($index)">{[{alert.msg}]}</alert>


		  <div class='col-sm-6 col-md-3 col-lg-2' ng-repeat="server in filteredServers = (servers | orderBy:sortBy | filter:filter)" ng-if="deletedServerKeys.indexOf(server.serverKey) == -1">
			  {% include "server.twig" %}
		  </div>
</div>
{% endblock %}
