<div id="mc_embed_signup" class="jumbotron col-md-6">
		  <form role="form" action="//smellynose.us9.list-manage.com/subscribe/post?u=78fa3e40dbc975814ef2e7d8c&amp;id=a190270d65" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					 <h2>We're making it easier to keep an eye on your infrastructure</h2>
					 <p>Get notified when you can use @msiof</p>
					 <div class="form-group">
								<label for="mce-EMAIL">Email Address </label>
								<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
					 </div>
					 <div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
					 </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					 <div style="position: absolute; left: -5000px;"><input type="text" name="b_78fa3e40dbc975814ef2e7d8c_a190270d65" tabindex="-1" value=""></div>
					 <div class="clear"><input type="submit" value="Request Invite" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-success"></div>
		  </form>
</div>
