<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyServerIsOnFire.com</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
    <script src='/js/moment.min.js'></script>
	 <script src='//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.8.0/angular-moment.min.js'></script>
	 <script src='/js/ui-bootstrap.min.js'></script>
    <script src='/js/main.js'></script>
    <style type='text/css'>
		  .table-no-border>thead>tr>th, 
		  .table-no-border>tbody>tr>th, 
		  .table-no-border>tfoot>tr>th, 
		  .table-no-border>thead>tr>td, 
		  .table-no-border>tbody>tr>td, 
		  .table-no-border>tfoot>tr>td {
					   border-top: none; 
		  }
    </style>
</head>
<body>
<div class="container-fluid" ng-app='msiofApp' ng-controller='HomeCtrl' ng-init='apiKey="{{apiKey}}";'>
		  <b>Install as root: <a href='/install'>View Install Source</a></b>
		  <pre>curl -s {{ installUrl }} | bash</pre>

		  <h5>
					 Servers: {[{servers.length}]} &bull; 
					 Sort By:
					 <div class="btn-group">
								<label class='btn btn-success btn-xs' ng-click="setSort(sort.value)" ng-repeat="sort in sortOptions" ng-model="sortBy" btn-radio="sort.value">
										  {[{ sort.display }]}
								</label>
					 </div>
					 <button ng-click="expandAll = (!expandAll)" class='btn btn-default btn-xs'>Toggle Expansion</button>
		  </h5>

		  <div ng-hide='loaded' class="alert alert-info" role="alert">Loading server fires...</div>

		  <div class='col-md-3' ng-repeat="server in servers | orderBy:sortBy">
			  {% include "server.twig" %}
		  </div>
</div>
</body>
</html>
