<div class='col-md-2'>
<div class='panel' ng-class="{'panel-danger': server.hasIssues, 'panel-success': (!server.hasIssues && !server.outOfDate), 'panel-warning' : server.outOfDate}">

<div class="panel-heading">
<h3 class="panel-title" style='overflow:auto;'>
<span tooltip-placement="right" tooltip="Worker out of date ({[{server.workerversion}]} < {{latestWorkerVersion}}), run install again to update" ng-show='server.outOfDate' class="glyphicon glyphicon-info-sign"></span>
{[{ server.name }]}
</div>
<div class='panel-body'>
<div ng-repeat='(type, percent) in server.cpu.percentage'>
{[{type}]} => {[{percent}]}%
</div>
<table>

<tr>
<td><strong>Load</strong></td>
<td>{[{ server.system.loadavg }]}</td>
</tr>

<tr>
<td><strong>CPU</strong></td>
<td>{[{ server.cpu.percentage.usage }]}%</td>
</tr>

<tr>
<td><strong>Conns <small>(port 80)</small>:</strong></td>
<td>{[{ server.conns[80] ? server.conns[80] : 0 }]}
<span ng-click="server.showAllConnections = (!server.showAllConnections)" class="glyphicon glyphicon-collapse-down"></span>

<div ng-show='server.showAllConnections'>
		  <div ng-repeat='(port, count) in server.conns' ng-if="port < 30000">
		  {[{ port }]} => {[{ count }]}
		  </div>
</div>
</tr>

<tr>
<td><strong>Mem Usage:</strong></td>
<td>{[{ ( (server.mem.memtotal - server.mem.memfree - server.mem.cached - server.mem.buffers) / server.mem.memtotal ) * 100 | number:1 }]}%</td>
</tr>

<tr>
<td><strong>/ Usage:</strong></td>
<td>{[{ ( (server.disk['/'].total - server.disk['/'].free) / server.disk['/'].total ) * 100 | number:1 }]}%</td>
</tr>

<tr><td><strong>Server Time:</strong></td><td>{[{ server.time }]}</td></tr>
</table>
<small>Updated (UTC):</small>{[{ server.msiofTime }]}
</div> <!-- panel-body -->
<div class="panel-footer">
		  <strong>Network:</strong> {[{ (server.network.total.rxkbps + server.network.total.txkbps)/1000 | number: 2}]}Mb/s
		  <span ng-click="server.showAllNetwork = (!server.showAllNetwork)" class="glyphicon glyphicon-collapse-down"></span>
		  <div ng-show='server.showAllNetwork'>
					 <div ng-repeat='(interface, net) in server.network' ng-if="interface != 'total' && (net.rxkbps > 0 || net.txkbps > 0)">
								<strong>{[{ interface }]} </strong>: In: {[{ net.rxkbps/1000 | number:2 }]} / Out: {[{ net.txkbps/1000 | number:2 }]}
					 </div>
		  </div>
</div>
</div> <!-- panel -->
</div> <!-- col-xx-x -->
