<div class='panel' ng-class="{'panel-danger': server.hasIssues, 'panel-success': (!server.hasIssues && !server.outOfDate), 'panel-warning' : server.outOfDate}">
		  <div class="panel-heading">
					 <h3 class="panel-title" style='overflow:hidden;'>
								{[{ server.name }]}
								<span tooltip-animation="false" tooltip-placement="right" tooltip="Worker out of date ({[{server.workerversion}]} < {{latestWorkerVersion}}), run install again to update" ng-show='server.outOfDate'><small>Worker out of date</small></span>
					 </h3>
		  </div>
		  <div class='panel-body' ng-show="expandAll || servers.length == 1">
					 <table class='table table-condensed table-no-border'>

								<tr ng-class="{'danger': server.issues.loadavg}">
										  <td><strong>Load</strong></td>
										  <td>{[{ server.system.loadavg }]}</td>
								</tr>

								<tr>
										  <td>
													 <strong tooltip-animation="false" tooltip-placement="right" tooltip-html-unsafe="CPU Type: {[{server.system.cpu.type}]}<hr>CPU Cores: {[{server.system.cpu.cores}]}">
																CPU
													 </strong>
										  </td>
										  <td>
													 {[{ server.cpu.percentage.usage }]}%
										  </td>
								</tr>

								<tr ng-show='showAllConnections[server.serverKey]' ng-repeat="(port, count) in server.conns | orderBy:'-count'" ng-if="port < 30000">
										  <td>:{[{ port }]}</td><td>{[{ count }]}</td>
								</tr>

								<tr ng-class="{'danger': server.issues.mem}">
										  <td>
													 <strong tooltip-animation="false" tooltip-placement="right" tooltip="Total Memory: {[{(server.mem.memtotal/1000)/1000 | number:0}]}GB">RAM</strong>
										  </td>
										  <td>
													 {[{ server.mem.percentage.usage }]} %
										  </td>
								</tr>

								<tr ng-class="{'danger': server.issues.disk}">
										  <td><strong tooltip-animation="false" tooltip-placement="right" tooltip="Size: {[{ ((server.disk['/'].total/1024)/1024)/1024 | number: 2}]}GB">Disk</strong></td>
										  <td>{[{ (server.disk['/'].used / server.disk['/'].total) * 100 | number:1 }]}%</td>
								</tr>

								<tr ng-class="{'danger': server.issues.lastupdated}">
										  <td colspan=2><small>Last updated: <span am-time-ago="server.lastupdated" am-preprocess="unix"></span></small></td>
								</tr>
					 </table>
		  </div> <!-- panel-body -->
		  <div class="panel-footer">
					 <strong><small>Net</small>:</strong> {[{ server.network.total.totalkbps/1000 | number: 2}]}Mb/s

					 <span ng-click="server.showAllNetwork = (!server.showAllNetwork)" class="glyphicon glyphicon-collapse-down"></span>
					 <div ng-show='server.showAllNetwork'>
								<div ng-repeat='(interface, net) in server.network' ng-if="interface != 'total' && (net.rxkbps > 0 || net.txkbps > 0)">
										  <strong>{[{ interface }]} </strong>: In: {[{ net.rxkbps/1000 | number:2 }]} / Out: {[{ net.txkbps/1000 | number:2 }]}
								</div>
					 </div>
		  </div>
</div> <!-- panel -->
